:root {
    --dark-blu: #070f4e;
    --mid-blu: #2772db;
    --lite-blu: #3ab1c8;
    --not-blu: #f5ebeb;
}

/* Login background */
.login-card{
    position: absolute;
    right: 39vw;
    bottom: 40%;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
    height: 400px;
}

.login-card-body {
    position: relative;
}


.login-card-body input {
    width: 100%;
    padding: 10px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: var(--lite-blu);
    cursor: pointer;
}

.create-title {
    margin: auto;
    padding: auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

.login-popup-stuff:not(.button-container) {
    /* position: fixed; */
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.button-container {
    position: relative; 
    width: 500px;
}

.login-popup-close-button {
    position: absolute; 
    right: 0; 
    bottom: 10px;
}

input::placeholder {
    position: absolute;
    top: 8px;
    left: auto;
    transition: all 0.3s ease;
    color: aliceblue;
    text-align: center;
}
  
input:focus::placeholder {
    top: -20px;
    font-size: 10px;
}

.login-title {
    margin-top: 40px;
    color: var(--dark-blu);
}

.signup-card {
    margin-bottom: auto !important;
}