.dark-blu { 
	background: #070f4e; 
}
	
.mid-blu { 
	background: #2772db; 
}

.lite-blu { 
	background: #3ab1c8; 
}

.not-blu { 
	background: #f5ebeb; 
}

.nav-link {
    color: white;
}

.search {
    border: #3ab1c8;
}

.search:hover {
    background: #2772db;
}

.post-link {
    color: #070f4e;
}