* {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.dark-blu { 
	background: #070f4e; 
}
	
.mid-blu { 
	background: #2772db; 
}

.lite-blu { 
	background: #3ab1c8; 
}

.not-blu { 
	background: #f5ebeb; 
}

.nav-link {
    color: white;
}

.search {
    border: #3ab1c8;
}

.search:hover {
    background: #2772db;
}

.post-link {
    color: #070f4e;
}

.card{
    position: absolute;
    right: 40%;
    bottom: 40%;
    box-sizing: border-box;
    padding: 40px;
    width: 400px;
}

.card-body {
    position: relative;
}

.card-body input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #3ab1c8;
    cursor: pointer;
}

.card-body label {
    position: absolute;
    top: 20px;
    left: 120px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.card-body input:focus ~ label,
.card-body input:valid ~ label {
    top: -20px;
    left: 120px;
    color: #f5ebeb;
    font-size: 12px;
}